<html>
    <head>
        <title>Caitlin Hall's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Caitlin's Blog</a></h1>
        </div>

        <div>
            <p>published: 19.07.2017, 11:36</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello World!</p>
        </div>

        <div>
            <p>published: 19.07.2017, 11:37</p>
            <h2><a href="">My second post</a></h2>
            <p>What's up?</p>
        </div>
    </body>
</html>
